:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body, html{
    height: 100%;
}


.parallax{
    background-image: url(/Final-portfolio-images/metallic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

.container1{
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background-color: darkgrey;
    width: 90%;
    height: 90vh;
    opacity: 97%;
}

h1{
    text-align: center;
    grid-row: 1/2;
    border: soild lavenderblush;
    grid-area: "h1";
}

.top{
    display: flex;
    grid-row: 2/3;
}


.middle{
    grid-row: 3/4;
    text-align: center; 
    grid-area: "middle"; 
}
.quote{
    color: burlywood;
}

.lower{ 
    display: flex;
    justify-content: space-between;
    grid-area: "lower";
    }

.article1{
    border: solid #363636 10px;
    /* size: 658 x 90; */
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.article2{
    background-color:#363636;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;

    
    
}

/* #slider{
    overflow: hidden;
    size: 40vh 40vw;
}


#slider figure{
    position: relative;
    width: 500%;
    margin: 256px;
    left: 0;
    animation: 30s slider infinite;
} 

#slider figure img{
    width: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
} */

body::-webkit-scrollbar {
    width: 0.25rem ;
}

body::-webkit-scrollbar-track {
    background: #1e1e24 ;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    text-align: center;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.navbar:hover  svg {
    transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
    .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    }

    .logo {
    display: none;
    }

    .navbar-nav {
    flex-direction: row;
    }

    .nav-link {
    justify-content: center;
    }

    main {
    margin: 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 30vh;
        position: relative;
        
        
    }

    .top{
        display: flex;
        flex-direction: column;
    }

    .bottom{
        display: flex;
        flex-direction: column;
    }

    .img{
        display: none;
    }
}

  /* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    }

    .navbar:hover {
    width: 16rem;
    }

    .navbar:hover .link-text {
    display: inline;
    }

    .navbar:hover .logo svg
    {
    margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
    left: 0px;
    }
}